body {
    background-color: rgb(197, 197, 6);
    margin: 10px;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: black;
}

.container > div:nth-child(1n) {
    background-color: rgb(150, 19, 211);
}

.container > div:nth-child(2n) {
    background-color: rgb(209, 28, 68);
}

.container > div:nth-child(3n) {
    background-color: rgb(50, 114, 170);
}

.container > div:nth-child(4n) {
    background-color: rgb(172, 110, 51);
}

.container {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 50px 50px 100px;
    gap: 10px;
}
