body {
    margin: 10px;
}

main > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

main > div > img {
    width: 100%;
    height: 100%;
    /* esta propriedade ñ distorce a img
    object-fit: cover; */
    object-fit: cover;
}

main {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    /* para zerar os espaços vazios */
    grid-auto-flow: dense;
}

.horz {
    grid-column: span 4;
    grid-row: span 3;
}

.vert {
    grid-row: span 4;
    grid-column: span 3;
}

.quad {
    grid-row: span 4;
    grid-column: span 4;
}

.norm {
    grid-row: span 3;
    grid-column: span 3;
}