* {

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    --cor1: #D9DBF1;
    --cor2: #D0CDD7;
    --cor3: #ACB0BD;
    --cor4: #416165;
    --cor5: #0B3948;

}

body {
    margin: 1rem;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    height: calc(100vh - 2rem);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px 2fr 1fr 80px;
    grid-template-areas:
        "n n n n"
        "a m m m"
        "a cA cB cC"
        "a f f f";
    gap: .5rem;
}

nav {
    background-color: var(--cor5);
    grid-area: n;
}

aside {
    background-color: var(--cor5);
    grid-area: a;
}

main {
    background-color: var(--cor1);
    grid-area: m;
}

#cA, #cB, #cC {
    border: 1px solid black;
    background-color: var(--cor3);
    font-size: 1rem;
}

#cA {
    grid-area: cA;
}

#cB {
    grid-area: cB;
}

#cC {
    grid-area: cC;
}

footer {
    background-color: var(--cor5);
    grid-area: f;
}

body * {
    border-radius: 5px;
    padding: 5px;
}

@media only screen and (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 60px 60px 2fr 1fr 1fr 1fr 60px;
        grid-template-areas:
            "n"
            "a"
            "m"
            "cA"
            "cB"
            "cC"
            "f";
    }
}